@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 47.4% 11.2%;
  
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 47.4% 11.2%;
  
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
  
      --card: 0 0% 100%;
      --card-foreground: 222.2 47.4% 11.2%;
  
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
  
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
  
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
  
      --destructive: 0 100% 50%;
      --destructive-foreground: 210 40% 98%;
  
      --ring: 215 20.2% 65.1%;
  
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 224 71% 4%;
      --foreground: 213 31% 91%;
  
      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;
  
      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;
  
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
  
      --border: 216 34% 17%;
      --input: 216 34% 17%;
  
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
  
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;
  
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;
  
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;
  
      --ring: 216 34% 17%;
  
      --radius: 0.5rem;
    }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
  }
  


  .badge {
    background-color: rgb(var(--scheme) , 0.2);
    color: rgb(var(--scheme));
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.2px;
    
    &.danger {
      --scheme: 255, 0, 0;
    }
    
    &.warn {
      --scheme: 255, 191, 0;
    }
    
    &.success {
      --scheme: 60, 179, 113;
    }
    
    &.info {
      --scheme: 30, 144, 255;
    }
    
    &.primary {
      --scheme: 0, 0, 255;
    }
    
    &.secondary {
      --scheme: 105, 105, 105;
    }
    
    &.light {
      --scheme: 211, 211, 211;
    }
    
    &.dark {
      --scheme: 47, 79, 79;
    }
    
    &.green {
      --scheme: 0, 255, 0;
    }
  }
  
  .message-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
    .title {
      font-weight: 900;
      font-weight: bolder;
      font-size: clamp(2rem, 5vw, 3rem);
      line-height: 1.2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  
    .desc {
      color: var(--disabled);
      font-weight: 500;
      font-size: 1.2rem;
    }
  
    .btn-group {
      margin-top: 2rem;
      display: flex;
      gap: 10px;
    }
  }
  

  .not-found {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: var(--bg);
    color: var(--text);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
    .badge {
      background-color: rgb(149 186 243 / 20%);
      color: var(--primary);
      border-radius: 5px;
      padding: 4px 10px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.2px;
    }
  
    .title {
      font-weight: 900;
      font-weight: bolder;
      font-size: clamp(2rem, 5vw, 4rem);
      line-height: 1.2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  
    .desc {
      color: var(--disabled);
      font-weight: 500;
      font-size: 1.2rem;
    }
  
    .btn-group {
      margin-top: 2rem;
      display: flex;
      gap: 10px;
    }
  }
  

  .bg {
    --scheme: 0, 0, 255;
    --speed: 15s;
    position: relative;
    overflow-y: hidden;
  
    @media (prefers-color-scheme: light) {
      --primary-glow: conic-gradient(
        from 180deg at 50% 50%,
        rgba(var(--scheme), 0.34) 0deg,
        rgba(var(--scheme), 0.2) 55deg,
        rgba(var(--scheme), 0.84) 120deg,
        rgba(var(--scheme), 0.2) 160deg,
        transparent 360deg
      );
      --secondary-glow: linear-gradient(
        to bottom right,
        rgba(var(--scheme), 0),
        rgba(var(--scheme), 0),
        rgba(var(--scheme), 0.2)
      );
    }
  
    @media (prefers-color-scheme: dark) {
      --primary-glow: radial-gradient(
        rgba(var(--scheme), 0.3),
        rgba(1, 65, 255, 0)
      );
      --secondary-glow: linear-gradient(
        to bottom right,
        rgba(var(--scheme), 0),
        rgba(var(--scheme), 0),
        rgba(var(--scheme), 0.2)
      );
    }
  
    &:before {
      background: var(--secondary-glow);
      left: 20%;
      animation: loop-1 var(--speed) linear infinite;
    }
  
    &:after {
      background: var(--primary-glow);
      right: 20%;
      animation: loop-2 var(--speed) linear infinite;
    }
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 20%;
      width: 300px;
      height: 250px;
      transform: translateZ(0);
      filter: blur(45px);
      user-select: none;
      z-index: 99;
    }
  }
  
  @keyframes loop-1 {
    0% {
      transform: rotate(0deg) translateY(0) translateX(15vh) rotate(0deg);
    }
    to {
      transform: rotate(-360deg) translateY(0) translateX(15vh) rotate(360deg);
    }
  }
  
  @keyframes loop-2 {
    from {
      transform: rotate(0deg) translateY(10vh) rotate(0deg);
    }
    to {
      transform: rotate(-360deg) translateY(10vh) rotate(360deg);
    }
  }
  
  .bg-danger {
    --scheme: 255, 0, 0;
  }
  
  .bg-warn {
    --scheme: 255, 191, 0;
  }
  
  .bg-success {
    --scheme: 60, 179, 113;
  }
  
  .bg-info {
    --scheme: 30, 144, 255;
  }
  
  .bg-primary {
    --scheme: 0, 0, 255;
  }
  
  .bg-secondary {
    --scheme: 105, 105, 105;
  }
  
  .bg-light {
    --scheme: 211, 211, 211;
  }
  
  .bg-dark {
    --scheme: 47, 79, 79;
  }
  
  .bg-green {
    --scheme: 0, 255, 0;
  }
  

  .error-page {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
    .title {
      font-weight: bolder;
      font-weight: 900;
      font-size: clamp(2rem, 5vw, 3rem);
      max-width: 900px;
      line-height: 1.2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  
    .desc {
      color: var(--disabled);
      font-weight: 500;
      font-size: 1.2rem;
    }
  
    .btn-group {
      margin-top: 2rem;
      display: flex;
      gap: 10px;
    }
  
    button:hover svg {
      transform: rotate(120deg);
      transition: transform 0.2s ease-in-out;
    }
  }
  
  div:has(input[required]:not(:disabled)) > label:after {
    content: "*";
    color: red;
    margin-left: 0.25rem;
  }


  #SIDEBAR > div {
   background-color: white !important;
  }